* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3d6a4;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #5e412f;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
}

.hero {
  background: url("img/hdr-bg.jpeg") no-repeat center center/cover;
  padding: 6rem 0;
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.cta-button {
  background-color: #ffcb77;
  color: #5e412f;
  padding: 0.3rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;

}

.products {
  padding: 4rem 0;
  text-align: center;
}

.product-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.product-card {
  background: #ffcb77;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 250px;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  height: 180px;
  object-fit: cover;
}

.about,
.contact {
  padding: 4rem 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #5e412f;
  color: hsl(27, 92%, 49%);
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background: #5e412f;
  color: hsl(27, 92%, 49%);
  text-align: center;
  padding: 1.5rem 0;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background: #d2b48c;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 1rem;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .product-grid {
    flex-direction: column;
  }
}
